/* body {
    padding-top: 5rem;
    padding-bottom: 5rem;
} */

.row-padded {
    padding: 0.75rem 1.25rem;
}

main>.container {
    /* top | right | bottom | left */
    padding: 40px 15px;
}   

.footer {
    background-color: #f5f5f5f5;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

[v-cloak] {
    display: none;
}
